.Button {
    background-color: rgb(246, 113, 120);
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    padding: 5px 50px;
    flex-direction: column;
    color: white;
    margin: 10px;
    align-items: center;
}

.Button:hover {
    background-color: rgb(255, 133, 140);

.Button_BLACK {
    background-color: black;
    color:white;
}
.Button_WHITE {
    background-color: white;
    color: rgb(246, 113, 120);
    border-color: rgb(246, 113, 120);
}