.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 400px;
  height: 600px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease;
}

.modal-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-weight: bold;
}

.modal-tabs button {
  background: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.modal-tabs button:hover {
  color: rgb(246, 113, 120);
}

.modal-tabs .active {
  color: rgb(246, 113, 120);
  border-bottom: 3px solid rgb(246, 113, 120);
}

.modal-content {
  padding: 10px;
  height: 450px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.modal-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.friend-list ul {
  list-style: none;
  padding: 0px 20px;
}

.friend-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.friend-list li .friend-name {
  font-size: 16px;
  font-weight: 500;
}

.friend-list li .delete-button {
  appearance: none;
  background-color: rgb(246, 113, 120);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.friend-list li .delete-button:hover {
  background-color: rgb(255, 133, 140);
}

.friend-request-request {
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.friend-request-request .input-nickname {
  
  min-height: 50px;
  max-width: 190px;
  padding: 0 1rem;
  font-size: 15px;
  border: 1px solid rgb(246, 113, 120);
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.friend-request-request .request-button {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: rgb(246, 113, 120);
  border: 9px solid rgb(246, 113, 120);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.friend-request-request .request-button:hover {
  background-color: rgb(255, 133, 140);
  border-color: rgb(255, 133, 140);
}

.friend-request-request .input-nickname:focus, .input-nickname:focus-visible {
  border-color: rgb(255, 133, 140);
  outline: none;
}

.search-results {
  padding: 0 15px;
  margin-top: 30px;
  align-items: center;
}

.search-results ul {
  list-style: none;
  padding: 0px 30px;
}

.search-results li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.search-results li .friend-name {
  font-size: 16px;
  font-weight: 500;
}

.search-results li .add-friend-button {
  appearance: none;
  background-color: rgb(246, 113, 120);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.null-friend {
  text-align: center;
  margin-top: 20px;
}


.friend-request-list {
  padding: 0 15px;
  margin-top: 30px;
  border-top: 1px solid rgb(246, 113, 120);
}

.friend-request-list h3 {
  font-size: 18px;
}

.friend-request-list ul {
  list-style: none;
  padding: 0px 10px;
}

.friend-request-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.friend-request-list li .friend-name {
  font-size: 16px;
  font-weight: 500;
}

.friend-request-list li .cancel-button {
  appearance: none;
  background-color: rgb(246, 113, 120);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.friend-request-list li .cancel-button:hover {
  background-color: rgb(255, 133, 140);
}

.friend-accept-list {
  padding: 0 15px;
  margin-top: 30px;
}

.friend-accept-list h3 {
  font-size: 18px;
}

.friend-accept-list ul {
  list-style: none;
  padding: 0px 10px;
}

.friend-accept-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.friend-accept-list li .friend-name {
  font-size: 16px;
  font-weight: 500;
}

.friend-accept-list li .accept-button {
  appearance: none;
  background-color: rgb(246, 113, 120);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.friend-accept-list li .accept-button:hover {
  background-color: rgb(255, 133, 140);
}

.friend-accept-list li .reject-button {
  margin-left: 3px;
  appearance: none;
  background-color: rgb(184, 184, 184);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.friend-accept-list li .reject-button:hover {
  background-color: rgb(207, 207, 207);
}


.close-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
  background-color: #ffffff;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEE2E2;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.image svg {
  color: #DC2626;
  width: 1.5rem;
  height: 1.5rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #111827;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actions {
  margin: 0.75rem 1rem;
  background-color: #F9FAFB;
}

.delete {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: rgb(246, 113, 120);
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cancel {
  display: inline-flex;
  cursor: pointer;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #D1D5DB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
