.names{
  display: flex;
  gap:8px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.profile .info {
  color: #000;
}

.profile .info .name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.profile .info .nickname {
  margin-top: 5px;
}

.profile .info .email {
  font-size: 12px;
}