.modal-calendar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.openModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
  width: 40%;
  height: 60%;
  background-color: var(--color-white);
  border-radius: 8px;
}

.add_infoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add_info {
  margin: 0;
}

.add_title {
  padding-left: 10px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-light-gray);
  outline: none;
}

.add_description {
  border-radius: 10px;
  border: none;
  background-color: var(--color-light-gray);
  padding: 10px;
  outline: none;
  width: 93%;
  max-width: 95%;
  max-height: 160px;
}

.add_time {
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  height: 30px;
  border: none;
  outline: none;
  background-color: var(--color-light-gray);
}

.add_closeBtn {
  cursor: pointer;
  font-size: 1.5rem;
}
