.Editor {
  padding: 20px;
  overflow: hidden;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
}

.section_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  overflow: auto;
}

.section_wrapper > section {
  width: calc(50% - 10px); 
}

.section_wrapper > section:nth-child(odd) {
  margin-right: 20px;
}

h4 {
  margin-bottom: 5px;
  color: #333;
}

.section_wrapper > section > .input_wrapper {
  position: relative;
}

.section_wrapper > section > .input_wrapper input,
.section_wrapper > section > .input_wrapper select {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
}

.section_wrapper > section > .input_wrapper textarea {
  width: calc(100% - 20px); 
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
}

.Editor textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.section_wrapper > section > .input_wrapper input:focus,
.section_wrapper > section > .input_wrapper textarea:focus {
  border-color: rgb(246, 113, 120);
}

.button_section {
  margin-top: 20px; 
  display: flex;
  justify-content: space-between;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.button_section button:hover {
  background-color: #f0f0f0;
}

.tag_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.tag_item {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.tag_item button {
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}

.image_section {
  flex-shrink: 0;
}
